body{
    margin: 0 auto;

}

.container{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color:#fff;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 1px 15px #888888;
}

input[type="text"],input[type="password"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px;
    border-radius: 4px;
}

.btn-login{
    width: 300px;
    padding: 8px 30px;
    color: #fff;
    border: none;
    background-color: #2ECC71;
    border-radius: 4px;
}
.btn-default{
    width: 300px;
    padding: 8px 30px;
}
.or{
    margin-bottom: 12px;
}